src/main/mule/mq/input.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
		xmlns:http="http://www.mulesoft.org/schema/mule/http"
		xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
		xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
		xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
		xmlns="http://www.mulesoft.org/schema/mule/core"
		xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
							http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
							http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
							http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
							http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
							http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">	
	<flow name="push-word-flow" doc:id="e8a7dd5d-03b7-4c0d-9b68-1797e8c85b95" >
		<logger level="INFO" doc:name="Word" doc:id="b2d83626-0224-46db-b4c0-2706208d3c13" message="(ActiveMQ=#[p('activemq')]) Push word [#[attributes.uriParams.'word']] to [input]"/>
		<choice doc:name="ActiveMQ or AnypointMQ?" doc:id="fbf44ad6-ab47-4bbf-a9bf-9ec6df8708b4" >
			<when expression="#[p('activemq') == &quot;true&quot;]">
				<jms:publish doc:name="Input" doc:id="27af2022-7475-4033-b9b2-d33cec084e97" destination="input" sendCorrelationId="ALWAYS" config-ref="JMS_Config">
					<jms:message >
						<jms:body ><![CDATA[#[attributes.uriParams.'word']]]></jms:body>
					</jms:message>
				</jms:publish>
			</when>
			<otherwise >
				<anypoint-mq:publish doc:name="Input" doc:id="7e63c7a6-e4c9-42c5-b0b1-44814c43288f" config-ref="Anypoint_MQ_Config" destination="input">
			<anypoint-mq:body><![CDATA[#[attributes.uriParams.'word']]]></anypoint-mq:body>
		</anypoint-mq:publish>
			</otherwise>
		</choice>
	</flow>
	
	<sub-flow name="set-word-type-route-subflow" doc:id="f36b78cc-cef2-40d2-896f-45ecd89294e7" >
		<logger level="INFO" doc:name="Input" doc:id="5ec6c006-585d-41ff-b246-92d5e741372e" message="(ActiveMQ=#[p('activemq')]) Received word [#[payload]] from [input]" />
		<ee:transform doc:name="Fruits and Colors  List" doc:id="17c99418-d6de-40f1-9e22-6b69b7698373">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="fruits"><![CDATA[%dw 2.0
output application/java
---
p('fruits') splitBy ","]]></ee:set-variable>
				<ee:set-variable variableName="colors"><![CDATA[%dw 2.0
output application/java
---
p('colors') splitBy ","]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Fruit, Color or Undefined?" doc:id="3b7a5ab2-5645-43af-b8f4-456883192edd">
			<when expression="#[vars.fruits contains lower(payload)]">
				<set-variable value="output-fruits" doc:name="Fruit Type" doc:id="f4276f16-f7a2-464d-8afd-b300901a125b" variableName="wordType" />
			</when>
			<when expression="#[vars.colors contains lower(payload)]">
				<set-variable value="output-colors" doc:name="Color Type" doc:id="e105b74b-7926-4720-a0f4-6b56bd503358" variableName="wordType" />
			</when>
			<otherwise>
				<set-variable value="output-undefined" doc:name="Undefined Type" doc:id="f9f13db9-272e-4634-9658-fc395fd3e2ac" variableName="wordType" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Word Type" doc:id="3bb676b8-d47e-4281-9857-dde34467c258" message="(ActiveMQ=#[p('activemq')]) Word type to route [#[vars.wordType]]" />
	</sub-flow>
	<flow name="subscriber-input-fifo-queue-anypointmq-flow" doc:id="2795da2b-367d-420d-826f-a704f387108f" >
		<anypoint-mq:subscriber doc:name="Input" doc:id="30c640ee-85a3-44fa-b1c3-0db38dc18956" config-ref="Anypoint_MQ_Config" destination="input"/>
		<flow-ref doc:name="Set Word Type Route" doc:id="73f18acb-04e8-423a-b4cb-d49c35b6fb3c" name="set-word-type-route-subflow"/>
		<anypoint-mq:publish doc:name="Exchange" doc:id="c906006e-b196-4625-b10b-cb80571d84a4" config-ref="Anypoint_MQ_Config" destination="exchange-route">
			<anypoint-mq:properties><![CDATA[#[wordType: vars.wordType]]]></anypoint-mq:properties>
		</anypoint-mq:publish>
	</flow>
	
	<flow name="subscriber-input-fifo-queue-activemq-flow" doc:id="3f870f16-9be2-4ee1-9fd3-b6e284f1f4ca" initialState="started">
		<jms:listener doc:name="Input" doc:id="f1694b87-c0f7-41f1-be68-0b557bd8339f" config-ref="JMS_Config" destination="input" ackMode="IMMEDIATE">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<flow-ref doc:name="Set Word Type Route" doc:id="8912e1e6-7d0e-4a27-9feb-8c296832b296" name="set-word-type-route-subflow" />
		<jms:publish doc:name="Output Colors, Fruits or Undefined" doc:id="8d084ded-b51c-4aa1-8cdf-243c0de53610" config-ref="JMS_Config" destination="#[vars.wordType]"/>
	</flow>
</mule>