src/main/mule/mq/output.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
		xmlns:http="http://www.mulesoft.org/schema/mule/http"
		xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
		xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
		xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
		xmlns="http://www.mulesoft.org/schema/mule/core"
		xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
							http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
							http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
							http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
							http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
							http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="pop-output-colors-flow" doc:id="79b1c01e-a479-4104-9531-18fb28ba28ed">
		<choice doc:name="ActiveMQ or AnypointMQ?" doc:id="91640ef8-deac-43c6-983e-f43caeabe1fd" >
			<when expression="#[p('activemq') == &quot;true&quot;]">
				<jms:consume doc:name="Output Colors" doc:id="8cfd76dc-30e7-4f8f-aa9d-3c92cdc6a439" destination="output-colors" ackMode="IMMEDIATE" config-ref="JMS_Config"/>
			</when>
			<otherwise >
				<anypoint-mq:consume doc:name="Output Colors" doc:id="768148c0-e7b6-478b-a140-b1e756e5100f" config-ref="Anypoint_MQ_Config" destination="output-colors" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Word Color" doc:id="23245a85-23bf-43c4-a752-16320b763cc8" message="(ActiveMQ=#[p('activemq')]) Pop word [#[payload]] from [output-colors]" />
		<set-payload value="#[payload]" doc:name="Response" doc:id="3d7a65b0-8a33-4543-bffe-6ce1ddd6b530" mimeType="text/plain"/>
	</flow>
	
	<flow name="pop-output-fruits-flow" doc:id="9af56c96-1fe6-498d-bd4d-299b7b163793" >
		<choice doc:name="ActiveMQ or AnypointMQ?" doc:id="d4ca4572-3d69-45e3-9321-1482878b7830" >
			<when expression="#[p('activemq') == &quot;true&quot;]">
				<jms:consume doc:name="Output Fruits" doc:id="7ce74a6d-232e-4bd7-9965-111b5731489b" config-ref="JMS_Config" ackMode="IMMEDIATE" destination="output-fruits"/>
			</when>
			<otherwise >
				<anypoint-mq:consume doc:name="Output Fruits" doc:id="f72e5195-9ec4-4b69-9dab-18bc8944b5a3" config-ref="Anypoint_MQ_Config" destination="output-fruits" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Word Fruit" doc:id="7f64534e-3478-49a0-99d3-854a3f28f92c" message="(ActiveMQ=#[p('activemq')]) Pop word [#[payload]] from [output-colors]" />
		<set-payload value="#[payload]" doc:name="Response" doc:id="b2ba1004-1d12-49c9-9897-66b9364bdccf" mimeType="text/plain" />
	</flow>
	
	<flow name="pop-output-undefined-flow" doc:id="816e8692-33bc-4076-a509-b257eadc73d3" >
		<choice doc:name="ActiveMQ or AnypointMQ?" doc:id="2785da18-5610-4ec9-9224-3de25a5f9667" >
			<when expression="#[p('activemq') == &quot;true&quot;]">
				<jms:consume doc:name="Output Undefined" doc:id="d73d56f3-f524-4043-8faf-4467350a844b" destination="output-undefined" config-ref="JMS_Config" ackMode="IMMEDIATE">
					<jms:consumer-type >
						<jms:queue-consumer />
					</jms:consumer-type>
				</jms:consume>
			</when>
			<otherwise >
				<anypoint-mq:consume doc:name="Output Undefined" doc:id="4d0a6a7b-85b4-4bce-9f3e-7c3a137c3c76" config-ref="Anypoint_MQ_Config" destination="output-undefined" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Word Undefined" doc:id="84e508ee-354f-450d-a208-8fb4db4641ec" message="(ActiveMQ=#[p('activemq')]) Pop word [#[payload]] from [output-colors]" />
		<set-payload value="#[payload]" doc:name="Response" doc:id="bb2cf97c-2f1b-4e60-872f-6d6ca93269b6" mimeType="text/plain" />
	</flow>
</mule>