src/main/mule/colors-fruits-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      					  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      					  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
      					  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="colors-fruits-api-config" api="colors-fruits-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    
    <flow name="colors-fruits-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<flow-ref doc:name="Security Filter" doc:id="ba37a809-835e-4496-bfc1-c5bbd1d2d547" name="security-subFlow"/>
		<apikit:router config-ref="colors-fruits-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    
    <flow name="colors-fruits-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="colors-fruits-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    
    <flow name="get:\pop\undefined:colors-fruits-api-config">
		<flow-ref doc:name="Pop Output Undefined" doc:id="f91f8928-42c8-47dc-92be-2c087176c707" name="pop-output-undefined-flow"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7057d4ad-3648-41f4-870e-96bbdd39d2c9" type="ANYPOINT-MQ:TIMEOUT">
				<set-variable value="204" doc:name="HTTP Status (204)" doc:id="4a1e709c-a47a-478a-a1ad-ffbe40878782" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
    </flow>
    
    <flow name="get:\pop\fruits:colors-fruits-api-config" doc:id="ff947d2e-2b3b-418d-a153-a2f32592a0ed" >
		<flow-ref doc:name="Pop Output Fruits" doc:id="cfe55d9c-db46-4f84-86c2-5ffb5bdb0389" name="pop-output-fruits-flow" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a2564319-eb96-43dd-ac42-aa0dc394ea98" type="ANYPOINT-MQ:TIMEOUT">
				<set-variable value="204" doc:name="HTTP Status (204)" doc:id="7830b9c7-0793-42d3-afe9-6d3cb7278713" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="get:\pop\colors:colors-fruits-api-config" doc:id="97767df3-4b5c-410d-bd44-ee2cde680239" >
		<flow-ref doc:name="Pop Output Colors" doc:id="3eac6532-2940-470b-b3ee-6d36eb1583be" name="pop-output-colors-flow" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="83ce103f-a345-4c2b-9f58-ad9eb7cafa0f" type="ANYPOINT-MQ:TIMEOUT">
				<set-variable value="204" doc:name="HTTP Status (204)" doc:id="5897910d-41f3-49d6-b982-922c2759f6b4" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
	
	<flow name="post:\push\(word):colors-fruits-api-config" doc:id="7143f8db-3b25-4d5d-aaa8-19f30dcc105f">
		<flow-ref doc:name="Push Word" doc:id="3673c067-4e54-4ad5-8b36-a3fde5cacba2" name="push-word-flow"/>
		<set-variable value="201" doc:name="HTTP Status (201)" doc:id="753166bc-5118-42dd-bf42-b899e7c569f9" variableName="httpStatus"/>
    </flow>
</mule>
